/BestApp.Abstraction/obj
/BestApp.Abstraction/bin
/BestApp.Domain/obj
/BestApp.Domain/bin
/BestApp.Droid/obj
/BestApp.Droid/bin
/BestApp.Impl/bin
/BestApp.Impl/obj
/BestApp.Impl.Droid/obj
/BestApp.Impl.Droid/bin
/BestApp.ViewModels/obj
/BestApp.ViewModels/bin
/Common.Abstrtactions/obj
/Common.Abstrtactions/bin
/TestResults
/packages
/UnitTest.ServiceImpl/obj
/UnitTest.ServiceImpl/bin
/UnitTest.ViewModel/obj
/UnitTest.ViewModel/bin
/.vs/BestApp/DesignTimeBuild/.dtbcache.v2
/.vs/BestApp/FileContentIndex/023efd6c-9fcb-4b7f-8507-c21b2e5b724d.vsidx
/.vs/BestApp/FileContentIndex/029ab009-4db8-4618-bf13-65de4b1eceaf.vsidx
/.vs/BestApp/FileContentIndex/184c4299-f3b6-4f66-a9d1-a411a16c5fc0.vsidx
/.vs/BestApp/FileContentIndex/779b2031-1f90-4928-a791-95fc7722776c.vsidx
/.vs/BestApp/FileContentIndex/fdb38827-ad0d-495f-833c-2bea6545779e.vsidx
/.vs/BestApp/v17/.futdcache.v2
/.vs/BestApp/v17/.suo
/.vs/BestApp/v17/DocumentLayout.backup.json
/.vs/BestApp/v17/DocumentLayout.json
/.vs/ProjectEvaluation/bestapp.metadata.v9.bin
/.vs/ProjectEvaluation/bestapp.projects.v9.bin
/.vs/ProjectEvaluation/bestapp.strings.v9.bin
/.vs/BestApp/FileContentIndex/1f5cccef-f68e-4337-bbf9-8b354e2357ff.vsidx
/.vs/BestApp/FileContentIndex/33adbbb8-7e2e-4f4f-a705-e7a8450d0755.vsidx
/.vs/BestApp/FileContentIndex/52cff49e-f04e-45f6-91b4-6ce920fd88ff.vsidx
/.vs/BestApp/FileContentIndex/7a7593f6-8bf2-4155-957b-556343219da9.vsidx
/.vs/BestApp/FileContentIndex/84c4094c-5c99-4e47-8861-92eb36ba40c4.vsidx
/.vs/BestApp/v17/TestStore/0/000.testlog
/.vs/BestApp/v17/TestStore/0/testlog.manifest
