/BestApp.Abstraction/obj
/BestApp.Abstraction/bin
/BestApp.Domain/obj
/BestApp.Domain/bin
/BestApp.Droid/obj
/BestApp.Droid/bin
/BestApp.Impl/bin
/BestApp.Impl/obj
/BestApp.Impl.Droid/obj
/BestApp.Impl.Droid/bin
/BestApp.ViewModels/obj
/BestApp.ViewModels/bin
/Common.Abstrtactions/obj
/Common.Abstrtactions/bin
/TestResults
/packages
/UnitTest.ServiceImpl/obj
/UnitTest.ServiceImpl/bin
/UnitTest.ViewModel/obj
/UnitTest.ViewModel/bin
/.vs/BestApp/DesignTimeBuild/.dtbcache.v2
/.vs/BestApp/FileContentIndex/023efd6c-9fcb-4b7f-8507-c21b2e5b724d.vsidx
/.vs/BestApp/FileContentIndex/029ab009-4db8-4618-bf13-65de4b1eceaf.vsidx
/.vs/BestApp/FileContentIndex/184c4299-f3b6-4f66-a9d1-a411a16c5fc0.vsidx
/.vs/BestApp/FileContentIndex/779b2031-1f90-4928-a791-95fc7722776c.vsidx
/.vs/BestApp/FileContentIndex/fdb38827-ad0d-495f-833c-2bea6545779e.vsidx
/.vs/BestApp/v17/.futdcache.v2
/.vs/BestApp/v17/.suo
/.vs/BestApp/v17/DocumentLayout.backup.json
/.vs/BestApp/v17/DocumentLayout.json
/.vs/ProjectEvaluation/bestapp.metadata.v9.bin
/.vs/ProjectEvaluation/bestapp.projects.v9.bin
/.vs/ProjectEvaluation/bestapp.strings.v9.bin
/.vs/BestApp/FileContentIndex/1f5cccef-f68e-4337-bbf9-8b354e2357ff.vsidx
/.vs/BestApp/FileContentIndex/33adbbb8-7e2e-4f4f-a705-e7a8450d0755.vsidx
/.vs/BestApp/FileContentIndex/52cff49e-f04e-45f6-91b4-6ce920fd88ff.vsidx
/.vs/BestApp/FileContentIndex/7a7593f6-8bf2-4155-957b-556343219da9.vsidx
/.vs/BestApp/FileContentIndex/84c4094c-5c99-4e47-8861-92eb36ba40c4.vsidx
/.vs/BestApp/v17/TestStore/0/000.testlog
/.vs/BestApp/v17/TestStore/0/testlog.manifest
/.vs/BestApp/FileContentIndex/0ac210e5-a2d8-40a5-b926-393c5a0e0561.vsidx
/.vs/BestApp/FileContentIndex/4bf8de3a-bc43-45ac-9a4b-caf0c40a1af1.vsidx
/.vs/BestApp/FileContentIndex/596aa54a-7627-42ed-9906-afabdc695d0e.vsidx
/.vs/BestApp/FileContentIndex/cbcec130-e8bc-4096-a5fc-41204c64bad4.vsidx
/.vs/BestApp/FileContentIndex/dc825a0b-c5ee-40da-8ae7-144730f47822.vsidx
/.vs/BestApp/v17/TestStore/0/001.testlog
/.vs/BestApp/FileContentIndex/046b5374-2504-4312-a257-0061cf0650b6.vsidx
/.vs/BestApp/FileContentIndex/633c9f67-f65b-440d-9c97-4fc60154f808.vsidx
/.vs/BestApp/FileContentIndex/89f31c80-8ffd-42c1-9bdc-d533ec92df74.vsidx
/.vs/BestApp/FileContentIndex/cd0e6750-30ab-4205-88b8-e2cb49779e54.vsidx
/.vs/BestApp/FileContentIndex/0ce45f53-5d08-42f9-bdf6-55f2b43a39d2.vsidx
/.vs/BestApp/FileContentIndex/982ba0ca-51af-44e2-a035-396bb6787f8b.vsidx
/.vs/BestApp/FileContentIndex/b01b0001-684e-46d1-9ea0-10c26638dfb1.vsidx
/.vs/BestApp/FileContentIndex/c497d6b6-0b5a-41b1-979d-d241da533133.vsidx
/.vs/BestApp/FileContentIndex/d1c04643-21ce-4450-b12a-b670596aca03.vsidx
/.vs/BestApp/v17/TestStore/0/010.testlog
/.vs/BestApp/v17/TestStore/OutputMessages/19de38ba-eccd-b643-6940-8406bfe615e4/StandardOutput.txt
/UnitTest.InfrasImpl/obj
/UnitTest.InfrasImpl/bin
